{% load viewutils %}

<article class="issue" id="issue-{{ issue.code }}">

  <div class="top-row">
    <div class="status condensed status-{{ issue.cached_payload.status.label }}">{{ issue.cached_payload.status.label }}</div>
    <div class="creation-date">created {{ issue.cached_payload.created_at }}</div>
  </div>

  <details class="description">
    <summary>
      {{ issue.code }}
    </summary>
    <p class="description-long as-details">{{ issue.cached_payload.description }}</p>
  </details>


  {% if issue.cached_payload.vulnerabilities %}
  <details class="vulnerabilities">
    <summary>Vulnerabilities</summary>
    <ul>
      {% for vulnerability in issue.cached_payload.vulnerabilities %}
      <li>
        <a class="cve-id" href="https://nvd.nist.gov/vuln/detail/{{ vulnerability.cve_id | urlencode }}">
          {{ vulnerability.cve_id }}
        </a>
      </li>
      {% endfor %}
    </ul>
  </details>
  {% endif %}

  {% if issue.cached_payload.related_derivations %}
  <details class="related-derivations">
    <summary>Related derivations</summary>
    <div class="derivation-list">
      {% for drv in issue.cached_payload.related_derivations %}
        <div class="derivation">
          <div class="derivation-name">{{ drv.name }}</div>
          {% if drv.maintainers %}
            {% maintainers_list drv.maintainers %}
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </details>
  {% endif %}

  {% if show_permalink %}
    <a href="/issues/{{ issue.code }}" class="permalink">Permalink</a>
  {% endif %}

</article>

