{% load viewutils %}

{% if maintainers %}
  <details class="maintainers">
    <summary>
      {%if selectable %}
        Notify package maintainers:
      {% else %}
        Package maintainers:
      {% endif %}
      {{ maintainers | length }}
    </summary>

    <div class="maintainers-list">
      {% for maintainer in maintainers %}
        <div class="maintainer-container">
          {% if selectable %}
          {% selectable_maintainer maintainer %}
          {% else %}
          {% maintainer maintainer %}
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </details>
{% endif %}
