{% load viewutils %}

{% if maintainers %}
  <details class="maintainers">
    <summary>
      Notify package maintainers: {{ maintainers | length }}
    </summary>

    <div class="maintainers-list">
      {% for maintainer in maintainers %}
        <div class="maintainer-container">
          {% if selectable %}
          <input
            type="button"
            name="edit_maintainer_id"
            value="{{ maintainer.github_id }}"
            hx-post=""
            hx-swap="none"
            hx-indicator="this .state-change-indicator"
          />
          {% endif %}
          {% maintainer maintainer %}
        </div>
      {% endfor %}
    </div>
  </details>
{% endif %}
