{% load humanize %}
{% load viewutils %}

{% if not suggestion.activity_log.updates|length_is:0 %}
<details class="activity-log"
         id="suggestion-activity-log-{{suggestion.id}}"
         data-relative=true
>
  <summary class="main-summary">
    <span class="title-when-closed">
      <span class="activity-log-timestamp">
        updated {{ suggestion.activity_log.updates|last_key|naturaltime }}
      </span>
      by <strong>@{{ suggestion.activity_log.updates|last_user }}</strong>
    </span>
    <strong class="title-when-opened">Activity log</strong>
  </summary>
  <ul class="activity-log-listing">
    <li class="activity-log-entry">
      Created <span class="automatic-suggestion-text">automatic suggestion</span>
      <span class="activity-log-entry-timestamp"
            data-timestamp-relative="{{ suggestion.created_at|naturaltime }}"
            data-timestamp-iso="{{ suggestion.created_at|iso }}"
      >
        {{ suggestion.created_at|naturaltime }}
      </span>
    </li>
    {% for timestamp, log_entries in suggestion.activity_log.updates.items %}
    {% for log_entry in log_entries %}
      <li class="activity-log-entry">
        <strong>@{{ log_entry.user }}</strong>
        {% if "derivations." in log_entry.action %}
        {# Package update entries #}
          {% if ".add" in log_entry.action %}
            added
          {% else %}
            removed
          {% endif %}
          {% if log_entry.target.items|length_is:1 %}
            {% for packagename, derivations in log_entry.target.items %}
              package <strong>{{ packagename }}</strong>
            {% endfor %}
          {% else %}
            <details class="package-summary">
              <summary class="package-summary-title">
                {{ log_entry.target.items|length }} packages
              </summary>
              <ul class="package-summary-listing">
                {% for packagename, derivations in log_entry.target.items %}
                  <li>{{ packagename }}</li>
                {% endfor %}
              </ul>
            </details>
          {% endif %}
        {% else %}
          {# Status update entries #}
          {% if "accepted" in log_entry.target  %}
            <span class="suggestion-status-selected">selected</span>
          {% elif "rejected" in log_entry.target %}
            <span class="suggestion-status-dismissed">dismissed</span>
          {% else %}
            {{ log_entry.action }}
          {% endif %}
        {% endif %}
        <span class="activity-log-entry-timestamp"
              data-timestamp-relative="{{ timestamp|naturaltime }}"
              data-timestamp-iso="{{ timestamp|iso }}"
        >
          {{ timestamp|naturaltime }}
        </span>
      </li>
    {% endfor %}
    {% endfor %}
  </ul>
  <script>
    {% comment %}
      NOTE(alejandrosame): This section will be called several times, but I'd rather keep
        this logic contained in this file until the project settles on a frontend framework.
    {% endcomment %}

    var log = document.querySelector('#suggestion-activity-log-{{suggestion.id}}');

    var created_or_updated_timestamp = log.querySelector

    log.querySelectorAll('.activity-log-entry-timestamp').forEach((timestamp) => {
      const changeTimestampPresentation = log_id => {
        const log = document.querySelector(log_id);

        log.dataset.relative = !(log.dataset.relative === "true")

        log.querySelectorAll('.activity-log-entry-timestamp').forEach((timestamp) => {
          if (log.dataset.relative === "true"){
            timestamp.textContent = timestamp.dataset.timestampRelative;
          } else {
            timestamp.textContent = timestamp.dataset.timestampIso;
          }
        });
      };

      timestamp.onclick = function() {
        changeTimestampPresentation('#suggestion-activity-log-{{suggestion.id}}');
      };
    });
  </script>
</details>
{% else %}
<span class="activity-log timestamp"
      data-timestamp-relative="created {{ suggestion.created_at|naturaltime }}"
      data-timestamp-iso="created {{ suggestion.created_at|iso }}"
      onclick="if (event.target.textContent === event.target.dataset.timestampRelative){
        event.target.textContent = event.target.dataset.timestampIso;
      } else {
        event.target.textContent = event.target.dataset.timestampRelative;
      }"
>
  created {{ suggestion.created_at|naturaltime }}
</span>
{% endif%}
