<article class="suggestion state-changed" hx-target="this">
  <div class="state-identifier {{ status }}"></div>
  <h2>
    {{ title }}
  </h2>
  <img class="state-change-indicator htmx-indicator" src="/static/spinner.svg">
  <form hx-post="" hx-swap="outerHTML" hx-indicator="previous .state-change-indicator">
    <input type="hidden" name="undo-status-change">
    {% csrf_token %}
    <input type="hidden" name="suggestion_id" value="{{ suggestion_id }}">
    <button type="submit" name="new_status" value="{{ old_status }}" title="Undo">
      ↺
    </button>
  </form>

  <!-- Open a new tab with the create GitHub issue, if any -->
  {% if gh_issue_link %}
    <script>
      window.open("{{ gh_issue_link }}", "_blank");
    </script>
  {% endif %}
</article>
