{% load humanize %}
{% load viewutils %}

{% if not activity_log|length_is:0 %}
<details class="activity-log"
         id="suggestion-activity-log-{{suggestion.id}}"
         data-relative=true
>
  <summary class="main-summary">
    <span class="title-when-closed">
      {% with last_entry=activity_log|last_entry %}
        <span class="activity-log-timestamp">
          updated {{ last_entry.timestamp|naturaltime }}
        </span>
        by&nbsp;<strong>@{{ last_entry.username }}</strong>
      {% endwith %}
    </span>
    <strong class="title-when-opened">Activity log</strong>
  </summary>
  <ul class="activity-log-listing">
    <li class="activity-log-entry">
      Created <span class="automatic-suggestion-text">automatic suggestion</span>
      <span class="activity-log-entry-timestamp"
            data-timestamp-relative="{{ suggestion.created_at|naturaltime }}"
            data-timestamp-iso="{{ suggestion.created_at|iso }}"
      >
        {{ suggestion.created_at|naturaltime }}
      </span>
    </li>
    {% for log_entry in activity_log %}
      <li class="activity-log-entry">
        <strong>@{{ log_entry.username }}</strong>
        {% if "derivations." in log_entry.action %}
        {# Package update entries #}
          {% if ".add" in log_entry.action %}
            added
          {% else %}
            removed
          {% endif %}
          {% if log_entry.package_count == 1 %}
            package <strong>{{ log_entry.package_names.0|versioned_package_name }}</strong>
          {% else %}
            <details class="package-summary">
              <summary class="package-summary-title">
                {{ log_entry.package_count }} packages
              </summary>
              <ul class="package-summary-listing">
                {% for packagename in log_entry.package_names %}
                  <li>{{ packagename|versioned_package_name }}</li>
                {% endfor %}
              </ul>
            </details>
          {% endif %}
        {% elif "maintainers." in log_entry.action %}
        {# Maintainers edit entry #}
          {% if ".add" in log_entry.action %}
            added
          {% else %}
            removed
          {% endif %}
          maintainer
          <strong>@{{ log_entry.maintainer.github }}</strong>
        {% else %}
        {# Status update entries #}
          {% if "accepted" in log_entry.status_value  %}
            <span class="suggestion-status-draft">accepted as draft</span>
          {% elif "rejected" in log_entry.status_value %}
            <span class="suggestion-status-dismissed">dismissed</span>
          {% elif "pending" in log_entry.status_value %}
            <span class="suggestion-status-automatic">marked as untriaged</span>
          {% else %}
            {{ log_entry.action }}
          {% endif %}
        {% endif %}
        <span class="activity-log-entry-timestamp"
              data-timestamp-relative="{{ log_entry.timestamp|naturaltime }}"
              data-timestamp-iso="{{ log_entry.timestamp|iso }}"
        >
          {{ log_entry.timestamp|naturaltime }}
        </span>
      </li>
    {% endfor %}
  </ul>
  <script>
    {% comment %}
      NOTE(alejandrosame): This section will be called several times, but I'd rather keep
        this logic contained in this file until the project settles on a frontend framework.
    {% endcomment %}

    var log = document.querySelector('#suggestion-activity-log-{{suggestion.id}}');

    var created_or_updated_timestamp = log.querySelector

    log.querySelectorAll('.activity-log-entry-timestamp').forEach((timestamp) => {
      const changeTimestampPresentation = log_id => {
        const log = document.querySelector(log_id);

        log.dataset.relative = !(log.dataset.relative === "true")

        log.querySelectorAll('.activity-log-entry-timestamp').forEach((timestamp) => {
          if (log.dataset.relative === "true"){
            timestamp.textContent = timestamp.dataset.timestampRelative;
          } else {
            timestamp.textContent = timestamp.dataset.timestampIso;
          }
        });
      };

      timestamp.onclick = function() {
        changeTimestampPresentation('#suggestion-activity-log-{{suggestion.id}}');
      };
    });
  </script>
</details>
{% else %}
<span class="activity-log timestamp"
      data-timestamp-relative="created {{ suggestion.created_at|naturaltime }}"
      data-timestamp-iso="created {{ suggestion.created_at|iso }}"
      onclick="if (event.target.textContent === event.target.dataset.timestampRelative){
        event.target.textContent = event.target.dataset.timestampIso;
      } else {
        event.target.textContent = event.target.dataset.timestampRelative;
      }"
>
  created {{ suggestion.created_at|naturaltime }}
</span>
{% endif%}
