{% load viewutils %}

<article class="suggestion" hx-target="this">
  <form
    method="post"
    action=""
    hx-boost="true"
    hx-swap="outerHTML show:none"
    hx-indicator="find .state-change-indicator"
    hx-params="not no-js"
    autocomplete="off"
  >
    <input type="hidden" name="no-js">
    {% csrf_token %}
    <input type="hidden" name="suggestion_id" value="{{ cached_suggestion.pk }}">
    <input type="hidden" name="page" value="{{ page_obj.number }}">

    <div class="row1">
      <a class="cve-id" href="https://nvd.nist.gov/vuln/detail/{{ cached_suggestion.cve_id | urlencode }}">
        {{ cached_suggestion.cve_id }}
      </a>
      {% if cached_suggestion.metrics %}
        {% severity_badge cached_suggestion.metrics %}
      {% endif %}
      <img class="state-change-indicator htmx-indicator" src="/static/spinner.svg">
      {% suggestion_activity_log suggestion activity_log %}
    </div>

    <details class="description">
      <summary>
        {% if cached_suggestion.title %}
          {{ cached_suggestion.title }}
        {% else %}
          {{ cached_suggestion.description|truncatewords:10 }}
        {% endif %}
      </summary>
      <p class="description-long as-details">{{ cached_suggestion.description }}</p>
    </details>

    {% affected_products cached_suggestion.affected_products %}

    {% if status_filter == "rejected" %}
      {% nixpkgs_package_list cached_suggestion.packages %}
    {% else %}
      {% selectable_nixpkgs_package_list cached_suggestion.packages %}
    {% endif %}

    <div class="change-issue-state">
      {% if status_filter == "pending" %}
        <button type="submit" name="new_status" value="accepted" class="selected-color">
          Select
        </button>
        <button type="submit" name="new_status" value="rejected" class="dismissed-color">
          Dismiss
        </button>
      {% elif status_filter == "rejected" %}
        <button type="submit" name="new_status" value="accepted" class="selected-color">
          Restore
        </button>
      {% elif status_filter == "accepted" %}
        <button type="submit" name="create-draft-not-implemented" class="draft-color" disabled>
          Publish issue
        </button>
        {% if cached_suggestion.packages %}
          <div class="remove-when-js-is-enabled button-with-note">
          <button type="submit" class="grey-button">
            Purge deleted packages
          </button>
          <span class="note">(cannot be undone)<span>
          </div>
        {% endif %}
        <button type="submit" name="new_status" value="rejected" class="dismissed-color">
          Dismiss
        </button>
      {% endif %}
    </div>
  </form>
</article>

