{% extends "base.html" %}
{% load viewutils %}

{% block content %}

<header>
  <nav class="issue-pipeline centered-inline-list">
    <ul>
      <li><a href="/dismissed">Dismissed suggestions</a></li>
      <li><a href="/suggestions">Untriaged suggestions</a></li>
      <li><a href="/drafts">Draft issues</a></li>
      <li><a href="/issues">Published issues</a></li>
    </ul>
  </nav>
</header>

<h1>Published issues</h1>

<div id="issue-list" class="page-width">
    {% for object in object_list %}
      {% issue object True %}
    {% endfor %}
</div>
{% endblock content %}
