{% extends "base.html" %}
{% load viewutils %}

{% block content %}
<h1>Selected suggestions</h1>
<p>
<span class="hint green-button">Create draft</span> to convert the suggestion into a draft security issue that can be edited before publishing. <s><a href="/drafts">View all drafts</a></s>
</p>
<p>
<span class="hint red-button">Dismiss</span> to remove a suggestion from the queue. <a href="/dismissed">View all dismissed suggestions</a>
</p>
<div id="suggestion-list">
  {% for object in object_list %}
    <article class="suggestion">
      <div class="row1">
        <a class="cve-id" href="https://nvd.nist.gov/vuln/detail/{{ object.cve.cve_id | urlencode }}">
          {{ object.cve.cve_id }}
        </a>
        {% severity_badge object.base_severity %}
      </div>
      <h2>{{ object.package_name }}</h2>
      <!-- XXX: just another idea how to do it -->
      <details class="description">
        <summary>
            {% if object.title %}{{ object.title }}{% else %}{{ object.description|truncatewords:10 }}{% endif %}
        </summary>
        <p class="description-long as-details">{{ object.description }}</p>
      </details>
      {% nixpkgs_package_list object.packages %}
      <div class="change-issue-state">
        {% suggestion_state_button suggestion_id=object.id state="REJECTED" label="Dismiss" style="red-button" %}
        {% suggestion_state_button suggestion_id=object.id state="ACCEPTED" label="C̶̖͆r̶͍̚e̵͈̐ă̷̖t̷̄͜e̶͓̓ ̴̟̏d̵̳̅r̸̮̐a̵͍͑f̵̙̋t̴̹̃" style="green-button" %}
      </div>
    </article>
  {% endfor %}
</div>
{% endblock content %}

{% block pagination %}
  <ul>
    {% for page_number in adjusted_elided_page_range %}
      <li class="index">
        {% if page_number == paginator.ELLIPSIS %}
        {{page_number}}
        {% else %}
        <a href="{{request.path}}?page={{page_number}}" class="{% if page_number == page_obj.number %}current{% endif %}">
          {{page_number}}
        </a>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endblock %}
