{% extends "base.html" %}
{% load viewutils %}

{% block title %}
{{ issue }}
{% endblock title %}

{% block content %}

<header class="page-width">
  <nav class="issue-pipeline centered-inline-list">
    <ul>
      <li><a href="/dismissed">Dismissed suggestions</a></li>
      <li><a href="/suggestions">Untriaged suggestions</a></li>
      <li><a href="/drafts">Draft issues</a></li>
      <li><a href="/issues">Published issues</a></li>
    </ul>
  </nav>
</header>

<h1>Details of issue {{ object.code }}</h1>

<article class="page-width">
  {% issue object %}
</article>

{% endblock content %}
