{% extends "base.html" %}
{% load viewutils %}

{% block title %}
{{ issue }}
{% endblock title %}

{% block content %}

<div id="subscribe-panel">
  <form
    method="post"
    action=""
    hx-indicator="find .state-change-indicator"
    hx-params="not no-js"
    autocomplete="off"
  >
  <input type="hidden" name="no-js">
  {% csrf_token %}
  <input type="hidden" name="nixpkgs_issue_id" value="{{ object.id }}">

  {% if user|is_subscribed_to:object %}
  <button name="subscribe" value="unsubscribe">Unsubscribe</button>
  {% elif user.is_authenticated %}
  <button name="subscribe" value="subscribe">Subscribe</button>
  {% endif %}
  </form>
</div>

<h1>{{ object.code }}</h1>

<p>{{ object.description.value }}</p>

<dl>
  <dt>Issue status</dt>
    <dd>{{ object.status_string }}</dd>
  <dt>Created</dt>
    <dd>{{ object.created }}</dd>
</dl>

<h2>Vulnerabilities</h2>

<ul>
  {% for cve in object.cve.all %}
    <li>{{ cve.cve_id }}</li>
  {% endfor %}
</ul>

<h2>Related derivations</h2>
<ul>
    {% for drv in object.derivations_with_cves %}
      <li>
        {{ drv.name }} (<a href="{{drv.metadata.position}}">source</a>)
        {% if drv.metadata.maintainers.all %}
        <figure>
          <figcaption>Maintainers</figcaption>
          <ul>
            {% for maintainer in drv.metadata.maintainers.all %}
              <li><a href="https://github.com/{{ maintainer.github }}">@{{ maintainer.github }}</a></li>
            {% endfor %}
          </ul>
        </figure>
        {% endif %}

        {% if drv.known_cves %}
        <figure>
          <figcaption>Known vulnerabilities</figcaption>
          <ul>
            {% for cve in drv.known_cves %}
              <li>{{ cve.cve.cve_id }}</li>
            {% endfor %}
          </ul>
        </figure>
        {% endif %}

      </li>
    {% endfor %}
</ul>

{% endblock content %}
