{% extends "base.html" %}
{% load viewutils %}

{% block content %}
<div id="suggestion-list">
  {% for object in object_list %}
    <article class="suggestion">
      <div class="row1">
        <a class="cve-id" href="https://nvd.nist.gov/vuln/detail/{{ object.cve.cve_id | urlencode }}">
          {{ object.cve.cve_id }}
        </a>
        {% severity_badge object.base_severity %}
      </div>
      <h2>{{ object.package_name }}</h2>
      {% if object.title %}
        <h3> {{ object.title }} </h3>
      {% endif %}
      <div class="description collapsed">
        <span class="description-truncated">{{ object.description|truncatewords:10 }}</span>
        <span class="show-more" onclick="this.parentElement.classList.toggle('collapsed')">Show more</span>
        <span class="description-long">{{ object.description }}</span>
        <span class="show-less" onclick="this.parentElement.classList.toggle('collapsed')">Show less</span>
      </div>
      {% nixpkgs_package_list object.packages %}
      <div class="change-issue-state">
        <form method="post" action="">
          {% csrf_token %}
          <input type="hidden" name="suggestion_id" value="{{ object.id }}">
          <input type="hidden" name="new_status" value="REJECTED">
          <button class="dismiss">
            Dismiss
          </button>
        </form>
        <form method="post" action="">
          {% csrf_token %}
          <input type="hidden" name="suggestion_id" value="{{ object.id }}">
          <input type="hidden" name="new_status" value="ACCEPTED">
          <button class="create-draft">
            Create draft
          </button>
        </form>
      </div>
    </article>
  {% endfor %}
</div>
{% endblock content %}

{% block pagination %}
  <ul>
    {% for page_number in adjusted_elided_page_range %}
      <li class="index">
        {% if page_number == paginator.ELLIPSIS %}
        {{page_number}}
        {% else %}
        <a href="{{request.path}}?page={{page_number}}" class="{% if page_number == page_obj.number %}current{% endif %}">
          {{page_number}}
        </a>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endblock %}
