{% extends "base.html" %}
{% load triagetags %}

{% block extra_head %}
<style>
    .container {
        display: flex;
    }

    .column {
        flex: 1;
        padding: 0px 10px 0px 10px;
        margin: 0px 5px 0px 5px;
    }

    .column > ul:not(.errorlist) {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .column-header {
        margin-bottom: 0px;
        padding-bottom: 0px;
    }

    .column-header-top {
        display: flex;
        justify-content: left;
        align-items: center;
        padding: 0px 10px 0px 10px;
        margin: 0px 5px 0px 5px;
    }

    .column-header-top > * {
        padding-right: 20px
    }

    .column-header-top > h1 {
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 0;
        padding-bottom: 0;
    }

    nav.pagination {
        background-color: white;
        justify-content: center;
        display: flex;
        gap: 10px;
    }

    nav.pagination ul{
        margin-left: auto;
        margin-right: auto;
    }

    nav.pagination a {
        color: black;
    }

    nav.pagination .current {
        font-weight: bold;
    }

    nav.pagination li.index + li.index {
        margin-left: 0.1em;
    }

    .selectable-item {
        padding: 10px;
        border: 1px solid #ccc;
        margin-bottom: 10px;
    }

    #search-form > input {
        display: none;
    }

    hr {
        text-align: center;
        border: 0;
        border-bottom: 1px solid #ccc;
    }

    .cve-extra-info {
        font-size: 0.7em;
    }

    .column-cve {
        flex:1;
        display: flex;
    }

    .cve-field-value {
        margin-left: 5px;
    }

    .cve-description {
        margin-top: 5px;
    }

    .grouped-pkgs {
        list-style: none;
        padding: 0px;
        overflow: hidden;
    }

    .grouped-pkgs > li {
        padding-left: 18px;
        display: block;
        overflow: hidden;
    }

    .cve-db-id, .pkg-count {
        font-size: 0.7em;
        font-weight: bold;
        color: #555;
    }

    .cve-id, .pkg-name {
        font-weight: bold;
    }

    .cve-header-description-long, .pkg-header-description-long {
        padding-top: 5px;
        font-size: 0.75em;
    }

    .pkg-db-id {
        font-size: 0.7em;
        font-weight: bold;
        color: #555;
    }

    .pkg-system {
        font-weight: bold;
        font-size: 0.8em;
    }

    #issue-form {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 10px;
        margin-top: 20px;
    }

    .issue-form-fields {
        display: flex;
        flex-direction: row-reverse;
        gap: 10px;
        margin: 5px;
    }

    ul.errorlist {
        background: pink;
        margin-top: 0px;
        margin-bottom: 5px;
    }

    label {
        font-weight: bold;
        display: inline-block;
        margin-bottom: 5px;
    }

    div:has(> #id_description_text) {
        flex-grow:1;
    }

    #id_status, #id_description_text {
        width: 100%;
    }

    details.cpe-list > * >  ul {
        padding: 0;
    }

    ul.cpe-list-extra > li {
        margin-left: 1em;
        padding-left: 0.3em;
    }

</style>
{% endblock extra_head %}

{% block content %}

<form id="search-form" method="get">
    <input type=submit> <!-- Allow submitting form with Enter -->
</form>

<div class="container">
    <div class="column">
        <div class="column-header">
            <div class="column-header-top">
                <h1>CVEs</h1>
                <div>
                    <input name="search_cves" type="text" placeholder="Search to filter..." form="search-form"
                        {% if search_cves %} value="{{search_cves}}" {% endif %}
                    />
                </div>
            </div>
            <nav class="pagination cve">
                <ul>
                    {% for page_number in cve_paginator_range %}
                    <li class="index">
                        {% if page_number == cve_page.paginator.ELLIPSIS %}
                            {{cve_page.paginator.ELLIPSIS}}
                        {% else %}
                            <a  href="{{request.path}}?cve_page={{page_number}}"
                                class="{% if page_number == cve_page.number %}current{% endif %}"
                                data-id="{{page_number}}"
                            >
                                {{page_number}}
                            </a>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
        <ul class="cves">
            {% for object in cve_page %}
            <li class="cve-entry selectable-item" data-id="{{object.id}}">
                <details>
                    <summary>
                        <span class="cve-header-actions">
                            <input type="checkbox" class="cve-checkbox"
                                   data-id="{{object.cve_id}}" value="{{object.cve_id}}"
                                   name="cve" form="issue-form"
                            >
                        </span>
                        <span class="cve-header-description">
                            <span class="cve-db-id">{{ object.id }}</span>
                            <span class="cve-id">{{ object.cve_id_code }}</span>
                            <div class="cve-header-description-long">
                                {{ object.title | default_to_na }}
                            </div>
                        </span>
                    </summary>
                    <div class="cve-extra-info">
                        <hr>
                        <div class="container">
                            <span class="column-cve">
                                <label>Package:</label>
                                <span class="cve-field-value">{{ object.affected_package_name|default_to_na }}</span>
                            </span>
                            <span class="column-cve">
                                <label>Repo:</label>
                                <span class="cve-field-value">{{ object.affected_repo|default_to_na }}</span>
                            </span>
                        </div>
                        <div class="container">
                            <span class="column-cve">
                                <label>Product:</label>
                                <span class="cve-field-value">{{ object.affected_product|default_to_na }}</span>
                            </span>
                            <span class="column-cve">
                                <label>Vendor:</label>
                                <span class="cve-field-value">{{ object.affected_vendor|default_to_na }}</span>
                            </span>
                        </div>
                        <div class="container">
                            <label>Cpes:</label>
                            <div>
                                {% with affected_cpes=object.affected_cpes|clean_nones min_len=4 extra_count=object.affected_cpes|clean_nones|length|add:"-4" %}
                                {% if extra_count <= 0 %}
                                    <ul class="column">
                                        {% for cpe in affected_cpes %}
                                            <li> {{ cpe }} </li>
                                        {% empty %}
                                            <li> No CPEs found. </li>
                                        {% endfor %}
                                    </ul>
                                {% else %}
                                    <details class="column cpe-list">
                                        <summary>
                                            <ul>
                                            {% for cpe in affected_cpes|slice:":4" %}
                                                <li data-test={{forloop.counter0}}> {{ cpe }} </li>
                                            {% endfor %}
                                            </ul>
                                        </summary>
                                        <span>
                                            <ul class="cpe-list-extra">
                                            {% for cpe in affected_cpes|slice:"4:" %}
                                                <li data-test={{forloop.counter0}}> {{ cpe }} </li>
                                            {% endfor %}
                                            </ul>
                                        </span>
                                    </details>
                                {% endif %}
                                {% endwith %}
                            </div>
                        </div>
                        <div class="cve-description">{{object.description|default:"No description found."}}</div>
                    </div>
                </details>
            </li>
            {% endfor %}
        </ul>
        {{form.cve.errors}}
    </div>

    <div class="column">
        <div class="column-header">
            <div class="column-header-top">
                <h1>PKGs</h1>
                <div>
                    <input name="search_pkgs" type="text" placeholder="Search to filter..." form="search-form"
                    {% if search_pkgs %} value="{{search_pkgs}}" {% endif %}
                    />
                </div>
            </div>
            <nav class="pagination pkg">
                <ul>
                    {% for page_number in pkg_paginator_range %}
                    <li class="index">
                        {% if page_number == pkg_page.paginator.ELLIPSIS %}
                            {{pkg_page.paginator.ELLIPSIS}}
                        {% else %}
                            <a  href="{{request.path}}?pkg_page={{page_number}}"
                                class="{% if page_number == pkg_page.number %}current{% endif %}"
                                data-id="{{page_number}}"
                            >
                                {{page_number}}
                            </a>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
        <ul id="pkgs">
            {% for object in pkg_page %}
            <li class="pkg-entry selectable-item" data-id="{{forloop.counter0}}">
                <details>
                    <summary>
                        <span class="pkg-header-actions">
                            <input type="checkbox" class="parent-checkbox">
                        </span>
                        <span class="pkg-header-description">
                            <span class="pkg-count">({{ object.pkg_count }} pkgs)</span>
                            <span class="pkg-name">{{ object.name }}</span>
                            <div class="pkg-header-description-long">
                                {{object.description}}
                            </div>
                        </span>
                    </summary>
                    <ul class="grouped-pkgs">
                        <hr>
                        {% for id in object.ids %}
                            <li>
                                <input type="checkbox" class="child-checkbox"
                                       data-id="{{id}}" value="{{id}}"
                                       name="derivations" form="issue-form"
                                >
                                <span class="pkg-db-id">{{id}}</span>
                                <span class="pkg-system">{{object.attributes|index:forloop.counter0}}</span>
                            </li>
                        {% endfor %}
                    </ul>
                </details>
            </li>
            {% endfor %}
        </ul>
        {{form.derivations.errors}}
    </div>
</div>

<hr>

<form id="issue-form" method="post">
    <button type="submit">Create Nixpkgs issue</button>
    {% csrf_token %}
    {{ form }}
</form>

<script>
    {% comment %}
    NOTE(alejandrosame): Although we are using localstorage for checkbox state,
    there's no support yet to create issues by selecting entities from different pages.
    This would require a bigger UI change to help the user keep track of the selection stack.
    Otherwise, it would be too easy to make spurious issues.
    {% endcomment %}
    // Utils:
    saveCheckboxState = function(className, checkbox) {
        const {value, checked} = checkbox;
        localStorage.setItem(`${className}-${value}`, JSON.stringify(checked));
    }
    deleteCheckboxState = function(className) {
        const classCheckboxes = document.querySelectorAll(`.${className}`);
        const state = classCheckboxes.forEach((checkbox) => {
            const {value} = checkbox;
            localStorage.removeItem(`${className}-${value}`);
        });
    }
    recoverCheckboxState = function(className) {
        const classCheckboxes = document.querySelectorAll(`.${className}`);
        const state = classCheckboxes.forEach((checkbox) => {
            const {value} = checkbox;
            const checked = JSON.parse(localStorage.getItem(`${className}-${value}`));
            if (checked) {
                checkbox.click();
            }
        });
    }

    const cveCheckboxes = document.querySelectorAll('.cve-checkbox');
    cveCheckboxes.forEach(function(checkbox) {
        checkbox.addEventListener("change",  function(event) {
            saveCheckboxState("cve-checkbox", checkbox);
        });
    });

    // Add logic for each pkg entry
    const pkgEntries = document.querySelectorAll('.pkg-entry');
    pkgEntries.forEach(function(entry) {
        const parentCheckbox = entry.querySelector('.parent-checkbox');
        const childCheckboxes = entry.querySelectorAll('.child-checkbox');

        // Events to be dispatched
        const changeNoParentTriggerEvent = new CustomEvent('changeNoParentTrigger', {
            bubbles: true,
            cancelable: true
        });
        const checkParentStatusEvent = new CustomEvent('checkParentStatus', {
            bubbles: true,
            cancelable: true
        });


        // Keep parent checkbox state consistent with children childCheckboxes.
        // This means that if all children are checked, parent should be checked.
        parentCheckbox.addEventListener('checkParentStatus', function(event) {
            var allChildrenAreSelected = true;

            childCheckboxes.forEach(function(checkbox) {
                if (!checkbox.checked) { allChildrenAreSelected = false; }
            });

            if (allChildrenAreSelected) {
                parentCheckbox.checked = true;
            } else {
                parentCheckbox.checked = false;
            }
        });

        // Select/deselect all children when parent is selected/deselected
        parentCheckbox.addEventListener('change', function(event) {
            childCheckboxes.forEach(function(checkbox) {
                if (checkbox.checked != parentCheckbox.checked){
                    checkbox.checked = parentCheckbox.checked;
                    checkbox.dispatchEvent(changeNoParentTriggerEvent);
                    saveCheckboxState("child-checkbox", checkbox);
                }
            });
        });

        // On child checkbox change:
        //  - Trigger checkParentStatusEvent to keep parent checkbox in sync with children state
        //  - Update localstorage state.
        childCheckboxes.forEach(function(checkbox) {
            checkbox.addEventListener("change",  function(event) {
                parentCheckbox.dispatchEvent(checkParentStatusEvent);
                {% comment %} FIXME: Not the most efficient, but UI will be reworked completely anyway {% endcomment %}
                saveCheckboxState("child-checkbox", checkbox);
            });
        });
    });

    // Keep existing search parameters when clicking pagination anchors
    const cvePageNav = document.querySelector(".pagination.cve")
    const pkgPageNav = document.querySelector(".pagination.pkg")

    bindPageClick = (pageNav, searchParamName) => pageNav.querySelectorAll('a').forEach(anchor => {
        anchor.addEventListener('click', function(event) {
            event.preventDefault();
            const page = anchor.getAttribute("data-id")
            const url = new URL(this.href);
            const searchParams = new URLSearchParams(window.location.search);
            searchParams.set(searchParamName, page);
            searchParams.sort();
            url.search = searchParams;
            window.location.href = url.toString();
        });
    });

    bindPageClick(cvePageNav, "cve_page")
    bindPageClick(pkgPageNav, "pkg_page")

    // Delete localstorage checkbox state when submitting issue form
    const issueForm = document.querySelector("form#issue-form")
    issueForm.addEventListener('submit', function(event) {
        deleteCheckboxState("cve-checkbox");
        deleteCheckboxState("child-checkbox");
    });

    // Keep existing search parameters when submitting form
    const searchForm = document.querySelector("form#search-form")
    searchForm.addEventListener('submit', function(event) {
        event.preventDefault();
        const { action } = searchForm;
        const url = new URL(action, window.location);
        const searchParams = new URLSearchParams(window.location.search);
        const formData = new FormData(searchForm);
        for (const [k, v] of formData.entries()) {
            // Clear page search when its filter has changed
            const previousValue = searchParams.get(k) || "";
            if (previousValue != v) {
                if (k.includes("cve")) {
                    searchParams.delete("cve_page");
                } else if (k.includes("pkg")) {
                    searchParams.delete("pkg_page");
                }
            }

            // Clean empty query params from URL
            if (v != "") {
                searchParams.set(k, v);
            } else {
                searchParams.delete(k);
            }
        }

        searchParams.sort();
        url.search = searchParams;
        window.location.href = url.toString();
    });

    // On refresh, recover checkbox state
    recoverCheckboxState("cve-checkbox");
    recoverCheckboxState("child-checkbox");

    // On failed form. reset checkbox state
    {% for id in form.cve.value %}
    document.querySelector('.cve-checkbox[data-id="{{id}}"]').click();
    {% endfor %}
    {% for id in form.derivations.value %}
    document.querySelector('.child-checkbox[data-id="{{id}}"]').click();
    document.querySelector('.pkg-entry:has(.child-checkbox[data-id="{{id}}"]) .pkg-header-description').click();
    {% endfor %}
    // End of checkbox status reset
</script>
{% endblock content %}
