:root {
  --subscription-error-color: #d31919;
  --subscription-subscribe-color: #48a564;
  --subscription-subscribe-background-color: #d9fce3;
  --subscription-unsubscribe-color: #d31919;
}

.subscriptions-navbar-icon {
  display: block;
  height: 2em;
  padding-left: 1.5em;
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
  background-image: url("/static/eye.svg");
}

.subscriptions-center-message,
.package-subscriptions .message {
  background: var(--subscription-error-color);
  color: white;
  font-weight: bold;
  padding: 0.5em;
  margin: 0.5em;
  border-radius: 0.2em;
}

.subscription-center-header > h1 {
  margin: 1em 0;
  font-size: 2em;
  font-weight: bold;
}

.package-subscriptions h2 {
  margin: 0.5em 0;
  font-size: 1.5em;
  font-weight: bold;
}

.package-subscriptions .subscribe-form {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  gap: 0.2em;
}

.package-subscriptions .subscribe-form input {
  flex-basis: 20rem;
  padding: 0.2em;
}

.package-subscriptions button {
  font-size: 0.8em;
  border: none;
  border-radius: 0.2em;
  padding: 0.4em 1em;
  cursor: pointer;
}

.package-subscriptions .subscribe-btn {
  background: var(--subscription-subscribe-color);
  color: white;
}

.package-subscriptions .unsubscribe-btn {
  background: #eee;
  color: var(--subscription-unsubscribe-color);
  font-weight: bold;
}

.package-subscriptions ul.packages-list {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  list-style-type: none;
}

.package-subscriptions ul.packages-list li {
  display: flex;
  gap: 0.2em;
}

.package-subscriptions ul.packages-list li .package-name {
  padding: 0.2em;
  font-weight: bold;
}

/* Individual package subscription pages */

.package-subscription header {
  display: flex;
  flex-direction: column;
  gap: 0em;
  margin: 1em 0;
}

.package-subscription header h1 {
  margin: 0;
  font-size: 2em;
  font-weight: bold;
}

.package-subscription .package-not-found {
  background: var(--subscription-error-color);
  color: white;
  padding: 2em;
  margin: 2em;
  border-radius: 0.2em;
}

.package-subscription .package-not-found h2 {
  margin: 0;
  font-size: 1.5em;
  font-weight: bold;
}

.package-subscription .package-detail {
  padding: 2em;
  margin: 2em;
  border-radius: 0.2em;
  border: 1px solid var(--grey);
}

.package-subscription .package-detail h2 {
  margin: 0;
  font-size: 1.5em;
  font-weight: bold;
}

.package-subscription .subscription-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
  padding: 1em 2em;
  border-radius: 0.2em;
}

.package-subscription .subscription-panel.subscribed {
  background: var(--subscription-subscribe-background-color);
}

.package-subscription .subscription-panel.unsubscribed {
  background: #eee;
}

.package-subscription .subscription-panel button {
  border: none;
  border-radius: 0.2em;
  padding: 0.4em 1em;
  cursor: pointer;
}

.package-subscription .subscribed button {
  color: var(--subscription-unsubscribe-color);
  background: white;
  border: solid 1px var(--subscription-unsubscribe-color);
  font-weight: bold;
}

.package-subscription .unsubscribed button {
  background: var(--subscription-subscribe-color);
  color: white;
  font-weight: bold;
}

.package-subscription .subscription-status {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  font-weight: bold;
}

.package-subscription .subscription-status .status-icon {
  font-size: 3em;
}

.package-subscription .subscribed .subscription-status {
  color: var(--subscription-subscribe-color);
}

.package-subscription .unsubscribed .subscription-status {
  color: #777;
}
