{% load viewutils %}

<div class="maintainer-add-container">
  <div class="subform {%if error_msg %}error{% endif %}">
    <input
      type="text"
      name="new_maintainer_github_handle"
      placeholder="GitHub username"
      autocomplete="off"
    />
    <button
      type="submit"
      hx-post="{% url 'webview:add_maintainer' %}"
      hx-swap="outerHTML"
      hx-target="closest .maintainer-add-container"
      hx-indicator=".maintainer-add-spinner"
    >
      <div>Add</div>
      <img class="maintainer-add-spinner htmx-indicator" src="/static/spinner.svg">
    </button>
  </div>
  {% if error_msg %}
  <div class="error-message">
    {{ error_msg }}
  </div>
  {% endif %}
</div>
