{% load viewutils %}

<div class="nixpkgs-packages">
  {% for attribute, pdata in packages.items %}
    <div class="nixpkgs-package-container">
      {% if selectable %}
      <input
        type="checkbox"
        name="derivation_ids"
        value="{{ pdata.derivation_ids|join:","}}"
        checked
        hx-post=""
        hx-swap="none"
        hx-indicator="this .state-change-indicator"
      />
      {% endif %}
      {% nixpkgs_package attribute pdata %}
    </div>
  {% endfor %}
</div>
