{% load viewutils %}

<article class="nixpkgs-package">
  <h3><span class="pkgs">pkgs.</span>{{ attribute_name }}</h3>
  <div class="package-meta">
    <div class="package-description">
      {{ pdata.description }}
    </div>
    <ul class="channel-list">
      {% for major_channel, major_version in pdata.versions %}
        <li>
          <details {% if major_version.uniform_versions %}open{% endif %}>
            <summary>
              <span class="branch-major">
                <span class="branch-name">{{ major_channel }}</span>
                <a class="version {{ major_version.status }}" target="_blank" href="{{ major_version.src_position }}">
                  {% if major_version.major_version %}
                    {{ major_version.major_version }}
                  {% else %}
                    ???
                  {% endif %}
                </a>
              </span>
            </summary>
            <ul class="channel-list">
            {% for branch_name, minor_version in major_version.sub_branches %}
              <li class="branch-minor">
                <span class="branch-name">{{ branch_name }}</span>
                <a
                  class="version {{ minor_version.status }}"
                  target="_blank"
                  href="{{ minor_version.src_position }}">
                    {{ minor_version.version }}
                </a>
              </li>
            {% endfor %}
            </ul>
          </details>
        </li>
      {% endfor %}
    </ul>
  </div>
</article>
