<article class="suggestion state-changed" hx-target="this">
  <div class="state-identifier {{ status }}"></div>
  <h2>
    {{ title }}
  </h2>
  <img class="state-change-indicator htmx-indicator" src="/static/spinner.svg">
  <form hx-post="" hx-swap="outerHTML" hx-indicator="previous .state-change-indicator">
    <input type="hidden" name="undo-status-change">
    {% csrf_token %}
    <input type="hidden" name="suggestion_id" value="{{ suggestion_id }}">
    <!-- We can't undo publication -->
    <a href="{{ changed_suggestion_link }}">👁</a>
    {% if status != "published" %}
    <button type="submit" name="new_status" value="{{ old_status }}" title="Undo">
      ↺
    </button>
    {% else %}
    <a href="{{ gh_issue_link }}">GitHub issue</a>
    {% endif %}
  </form>
</article>
