{% load static socialaccount %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}Nixpkgs Security Tracker{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" type="text/css" href="/static/style.css" />

    {% block extra_head %}{% endblock extra_head %}
  </head>

  <body>

    <nav class="header">
      <h1>
        <a href="{% url 'webview:home' %}">
          Nixpkgs Security Tracker
        </a>
      </h1>
      <ul>
        {% if user.is_staff %}
        <!-- TODO settings? -->
        {% endif %}

        {% block auth %}
        {% if user.is_authenticated %}
        {% get_social_accounts user as accounts %}
        <li>
          {% if accounts and "github" in accounts %}
            <a href="https://github.com/{{ accounts.github.0.extra_data.login }}"
               target="_blank">
               {{ user.username }}
            </a>
          {% else %}
            <span>{{user.username}}</span>
          {% endif %}
          <a href="{% url 'account_logout' %}">
            Logout
          </a>
        </li>

        {% else %}

        <li>
          <a href="{% provider_login_url 'github' %}">
            Login with GitHub
          </a>
        </li>
        {% endif %}
        {% endblock %}
      </ul>
    </nav>
    {% if debug %}
      <div id="testing-disclaimer">
        <em>⚠️ You are using a <b>publicly accessible</b> testing environment.
        Don’t enter secrets into this system, especially not by reusing passwords for your user account.</em>
      </div>
    {% else %}
      <div id="testing-disclaimer">
        <em>⚠️ You are using a production deployment that is <b>still only suitable for demo purposes.</b>
        Any work done in this might be wiped later without notice.</em>
      </div>
    {% endif %}

    {% block layout %}
      <article>
        {% block content %}{% endblock content %}
      </article>
    {% endblock layout %}

    {% if is_paginated %}
      {% include "components/pagination.html" %}
    {% endif %}

    <footer>
      <p>
        <a href="https://github.com/Nix-Security-WG/nix-security-tracker">Nixpkgs Security Tracker</a>
        is part of a project funded by the
        <a href="https://sovereigntechfund.de/en/">Sovereign Tech Fund</a>.
      </p>
      <p>
        {% if app_version %}
          Running version {{ app_version }},
          <a href="https://github.com/Nix-Security-WG/nix-security-tracker/commit/{{ app_revision }}">
            {{ app_revision|slice:":20" }}
          </a>
        {% else %}
          No version information available.
        {% endif %}
      </p>
    </footer>
    <script src="/static/htmx.min.js"></script>
    <script>
      // We didn't find a better way to remove buttons that are only needed for non-JS workflows
      document.querySelectorAll(".remove-when-js-is-enabled").forEach(e => e.remove());
    </script>
  </body>
</html>
