name: Weekly npins update

on:
  schedule:
    # Runs at 00:00 UTC every Monday
    - cron: "0 0 * * 1"
  # Allow manual trigger
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write

jobs:
  update-npins:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v29
      - uses: DeterminateSystems/magic-nix-cache-action@main
      - run: |
          nix-shell default.nix -A ci --run "npins -d ./staging/npins update"
      - uses: peter-evans/create-pull-request@v7
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          commit-message: "chore: npins update for staging"
          title: "chore: weekly npins update"
          body: |
            Automatic npins update performed by GitHub Actions
          branch: npins-auto-update
          delete-branch: true
          base: main
