name: Dry activations
on:
  # Run them only once the checks are done.
  workflow_run:
    workflows: ["Builds"]
    types:
      - completed
  # Dry activations can theoretically perform side-effects if the user write evil code.
  # They are TRUSTED workflows.
  pull_request_target:
jobs:
  # Prepare staging for a deployment by doing the copy closure.
  # Once the PR lands, it will be deployed by the deployment workflow.
  staging:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v29
      - uses: DeterminateSystems/magic-nix-cache-action@main
      - uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.DEPLOY_SSH_PRIVATE_KEY }}
      - name: Trust staging server public SSH host keys
        run: cat ./infra/host_keys >> ~/.ssh/known_hosts
      - run: nix-shell default.nix -A ci --run "deploy dry-activate"
